#################################################################
# Database Information
#################################################################
DB_DRIVER=postgresql
# DB Location
DB_HOST=127.0.0.1
DB_PORT=5432
# DB Credentials
DB_NAME=cfmigrations_testing
DB_USER=cfmigrations_testing
DB_PASSWORD=cfmigrations_testing